.app{
    background-color: rgb(197, 197, 211);
}

#butterfly {
    background-image: url("Pictures/flashcard.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
}

#second {
    display: flex;
    flex-direction: column;

}

#cardArea {
    font-size: 62px;
    margin-top: 10px;
}

#userInput {
    background-color: aquamarine;
    width: 1in;
    height: 1in;
    font-size: 62px;
    display: flex;
}

#check {
    background-color: rgb(231, 241, 245);
    width: 3in;
    height: .5in;
    font-size: 30px;
}

@media (max-width: 700px) {
    #first {
        flex-direction: column;
        justify-content: center;
    }

    #second {
        height: 50%;
        margin-bottom: 20px;
    }
}