.app{

}

#butterfly {
    background-image: url("Pictures/flashcard.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 350px;
}

#cardArea {
    font-size: 75px;
    margin-top: 10px;
}